<gt-preferences class="spacing"></gt-preferences>
<gt-change-password class="spacing"></gt-change-password>
<gt-social-auth class="spacing"></gt-social-auth>
<gt-manage-emails class="spacing"></gt-manage-emails>

<mat-card>
  <mat-card-header>
    <mat-card-title i18n>Delete User Account</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="remove-content">
    <div>
      <p i18n
        >By deleting your user account, you will permanently lose all data,
        including access to organization projects and their associated
        events.</p
      >
      <p i18n
        >Make sure to delete or transfer ownership of any organizations before
        deleting your account. Owners of paid organization subscriptions are not
        able to delete their account.</p
      >
      <mat-error *ngIf="userDeleteError$ | async as error">
        {{ error }}
      </mat-error>
    </div>
    <gt-loading-button
      data-test
      buttonText="Delete User Account"
      [loading]="(userDeleteLoading$ | async) === true"
      (click)="deleteUser()"
      id="delete-user"
    >
    </gt-loading-button>
  </mat-card-content>
</mat-card>
